body {
  background: blanchedalmond;
  margin: 0;
  text-align: center;
  font-family: 'Courier New', Courier, monospace';
}

* {
  border: 1px solid red;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.a {
  background-color: var(--green);
  min-height: 100%;
  flex-grow: 1;
}

.b {
  background-color: var(--beige);
  flex-grow: 4;
  min-height: 60vh;
}

.c {
  background-color: var(--maroon);
  flex-grow: 1;
  
}     

@media (min-width: 600px) {
  .container {
    flex-direction: row;
  }
  .a{
    flex-basis: 100%;
    max-width: 100%;
  }

  .c{
    max-width: 100%;
  }
}
