body {
  background: peachpuff;
  margin: 0;
  color: white;
  text-align: center;
}

* {
  border: 1px solid red;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between;
}

.a {
  background-color: var(--aqua);
  flex-grow: 2;
  max-width: 100%;
  flex-basis: 100%;
}

.small{
  display: flex;
  background-color: var(--yellow);
  flex-grow: 4;
  justify-content: space-between;
  flex-wrap: wrap;
}

.b{
  background-color: var(--green);
  max-width: 100%;
  flex-basis: 100%;
  min-height: 40vh;
}

.c .d .e{
  height: 30vh;
  flex-grow: 1;
  min-width: 30%;
  min-height: 30vh;
}

.f {
  background-color: var(--red);
  flex-grow: 2;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 600px) {
.small {
  max-width: 80%;
}
.f{
  max-width: 20%;
  max-height: 60em;
}
}